/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { font-family: Roboto, "Helvetica Neue", sans-serif !important;}

li, ul{
    list-style-type: none;
    cursor: pointer !important;
    color: #ff8c00 !important ; 
  }
  a:hover {
    cursor: pointer !important;
    color: #ff8c00 !important ; 
  }